@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.hero {
  background: linear-gradient(339deg, #0c2442 38%, #4f7492 100%);
}

.expectations-section {
  padding-bottom: clamp(600px, 80vh, 600px);
}

.expectation-container {
  padding: 20px;
  border-radius: 9px;
  background-color: white;
  box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1);
}

.case-studies-container > img {
  box-shadow: 0px 2px 7px 0px rgba(20, 20, 43, 0.06);
}

.services-container > div {
  box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1);
}

.guarantee-container {
  background: linear-gradient(355deg, #0c2442 0%, #4f7492 100%);
}
